# Deployment wallet - this is just for reference (optional)
MY_ADDRESS=
# Private key of the deployment wallet
MY_PRIVATE_KEY=
# Paid URLs of the blockchain networks if you want to use Ethereum (optional)
ETHEREUM_SEPOLIA_URL=
# Instruction for hardhat to use the gas reporter when running tests
REPORT_GAS="true npx hardhat test"
# Coinmarketcap API key - this is used to calculate the transaction costs in USD when running tests
COINMARKETCAP_API=
# Block explorer API keys - this is used to verify the contract source code on the block explorer
ETHERSCAN_API_KEY=
CRONOS_EXPLORER_MAINNET_API_KEY=
CRONOS_EXPLORER_TESTNET_API_KEY=
# As Cronoscan is being replaced by Cronos Explorer, the old settings are commented out.
# CRONOSCAN_API_KEY=

